.container {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

.divide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.payment-method-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.cart-summary, .shipping-section {
    background-color: #222222;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

#address-details p {
    margin: 0;
}