.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5px;
    overflow: scroll;
    overflow-x: hidden;
}
.grid-item {
    border-radius: 10px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
}
.grid-item img {
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid grey;
}
.description {
    padding: 10px;
    text-align: start;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}