.container {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.division {
    background-color: #222222;
    color: white;
    border-radius: 20px;
}

.fqwfq {
    padding-left: 20px;
    padding-right: 20px;
}