.container {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-gap: 10px;
    margin: 20px;
    background-color: #222222;
    color: white;
    border-radius: 20px;
    border: 2px solid #494949;
    padding: 40px;
    margin-top: 100px;
}

.container h1 {
    margin-bottom: 40px;
}

.container .tab {
    margin-bottom: 20px;
    font-size: 20px;
}

.container .tab:hover {
    color: #797979;
    cursor: pointer;
}

.container .tab:active {
    color: #505050;
}

.container .tab.focus {
    color: #797979;
}

.container .tab.focus:active {
    color: #505050;
}

#images-preview {
    margin-top: 10px;
}

.list-product-img {
    background-color: white;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}