

.profile-container {
    width: 800px;
    min-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    color:rgb(255, 255, 255);
}

.profile-container h1 {
    text-align: center;
}

.profile-content {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    margin-top: 20px;
    margin-left: 20px;
}

.profile-ext-img {
    border-radius: 50%;
    border: 10px solid white;
}

.ext-left-profile h2 {
    margin-bottom: 0;
}

.ext-left-profile h3 {
    margin-top: 5px;
    margin-bottom: 50px;
}

.profile-container .nelson-button {
    margin-top: 20px;
}

.ext-profile-select {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
}

.ext-profile-select:hover {
    color: rgb(158, 158, 158);
}

.ext-profile-selected {
    color: rgb(158, 158, 158);
}