.register-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: rgba(81, 81, 81, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#registrationForm {
    display: flex;
    flex-direction: column;
}

.input-field {
    margin-bottom: 20px;
}

.label-with-margin {
    font-size: 18px;
    margin-bottom: 90px;
}

.input-field input:not(input[type="submit"]):not(input[type="checkbox"]) {
    width: calc(100% - 40px);
    margin: 0 auto;
}

.buttons-field {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}