* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: rgba(81, 81, 81, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

img {
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {

    width: calc(360px - 2vw);
    height: 48px;
    border-radius: 2vh;
    border-style: solid;
    border-color: #494949;
    background-color: #2e2e2e !important;
    color: white;
    padding: 0 1vw;
    font-size: 2vh;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #555555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #707070;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="date"] {
    color-scheme: dark;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}

button{
    background-color: #555555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #707070;
    transform: scale(1.05);
}