.container {
    margin: 100px 60px;
}

.search-item {
    padding: 20px;
    border-radius: 10px;
    background-color: #111111;
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

.nodeco {
    text-decoration: none;
    color: white;
}

.search-item div {
    margin: 20px;
}

.search-item:hover {
    background-color: #222222;
}

.search-item-section {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 40px;
}

.search-item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.search-item img {
    background-color: white;
    border-radius: 10px;
}

#product-search-form {
    display: flex;
}

.grid-5-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    justify-items: center;
}