#snackbar {
    display: flex;
    visibility: hidden;
    min-width: 250px;
    margin-left: 10px;
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#snackbar img {
    margin-top: 10px;
}

#snackbar-info {
    display: block;
    margin-left: 10px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#snackbar-info h2 {
    margin-top: 10px;
    margin-right: 20px;
    text-align: left;
}

#snackbar:hover {
    cursor: pointer;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}